.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
    // height: calc(100vh - 350px);
  }

  .mat-toolbar{
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,70,1) 35%, rgba(200,0,0,1) 100%);
}

  