<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Add Company</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="companyForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="companyForm.controls.name.touched && companyForm.controls.name.invalid">
                        <span *ngIf="companyForm.controls.name.errors.required">This field is required.</span>
                        <span *ngIf="companyForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="companyForm.controls.name.touched && companyForm.controls.name.invalid">
                        <span *ngIf="companyForm.controls.name.errors.required">This field is required.</span>
                        <span *ngIf="companyForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
            <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
              </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Website Link</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="companyForm.controls.name.touched && companyForm.controls.name.invalid">
                        <span *ngIf="companyForm.controls.name.errors.required">This field is required.</span>
                        <span *ngIf="companyForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>